.icon-big-slider-arrow-next { background-image: url('png/big-slider-arrow-next.png'); background-repeat: no-repeat; }

.icon-big-slider-arrow-prev { background-image: url('png/big-slider-arrow-prev.png'); background-repeat: no-repeat; }

.icon-btn-scroll-top { background-image: url('png/btn-scroll-top.png'); background-repeat: no-repeat; }

.icon-client-slider-arrow-next { background-image: url('png/client-slider-arrow-next.png'); background-repeat: no-repeat; }

.icon-clients-slider-arrow-prev { background-image: url('png/clients-slider-arrow-prev.png'); background-repeat: no-repeat; }

.icon-pagination-arrow { background-image: url('png/pagination-arrow.png'); background-repeat: no-repeat; }

